
<h1>Articles</h1>

<p>
	<%= link_to 'New Article', new_article_path %>
</p>
 
<% @articles.each do |article| %>
	<p>
		<%= link_to article.title, article_path(article) %>
		<%= link_to 'Edit', edit_article_path(article) %>
		<%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Really destroy this article?' } %>
	</p>
<% end %>
